.dessert-detail-welcome img{
   width: 30%;
   display: block;
   margin: 0 auto;
}

.dessert-detail {
   background-color: darken($main, 10);
   text-align: justify;
   padding: 3% 1%;
   border-radius: 4px;
   img {
      width: 70%;
      display: block;
      margin: 0 auto;
   }
   p {
      font-size: 18px;
   }
   span {
      font-weight: 600;
   }
}
